<p>student-form works!</p>
<mat-card>
    <h1>Add student</h1>
    <form #studentForm="ngForm" >
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Math grade</mat-label>
              <input matInput 
                [(ngModel)] = "math"
                name = "math"
                type ="number"
                min=0
                max=100
                required>

            </mat-form-field>

          </p>
          <p *ngIf="isErrorMath">{{errorMessageMath}}</p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Psyc grade</mat-label>
              <input matInput 
                [(ngModel)] = "psyc"
                name = "psyc"
                type ="number"
                min=0
                max=800
                required>

            </mat-form-field>

          </p>
          <p *ngIf="isErrorPsyc">{{errorMessagePsyc}}</p>
          <p>
            <mat-form-field appearance="standard">
                <mat-label> pay</mat-label>
                <mat-select place-holder = "Will pay" [(ngModel)] = "pay" name = "pay" required>
                  <mat-option  *ngFor="let option of options" [value]="option.name" >
                    {{option.name}}
                  </mat-option>

                </mat-select>
            </mat-form-field>
          </p>
          <div>
            <button mat-raised-button *ngIf = "!dropDwonState" (click)= "tellParentToPredic(); dropDownShow=!dropDownShow; dropDwonState=!dropDwonState">
                Predict
            </button> 
            <button mat-raised-button  *ngIf = "dropDwonState"  (click)= "updateParent(); onSubmit()"
            >
             Save
          </button>
          <button mat-raised-button  *ngIf = "dropDwonState"
          (click)=  "dropDwonState=!dropDwonState; dropDownShow=!dropDownShow">
            Cancel
          </button>
            <br>
            <mat-form-field appearance="standard" *ngIf = "dropDownShow">
              <mat-label>{{result}}</mat-label>
              <mat-select place-holder ="result"  >
                <mat-option value="option1">{{result}}</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        
      </div>
    </form>
   </mat-card>
