<mat-card>
    <h1>SignUp</h1>
    <form #signupForm = "ngForm" (ngSubmit) = "onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder = "example:you@you.com" [(ngModel)] = email name = email required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)] = password name = password type = password required>
            </mat-form-field>
        </div>

        <div>
            <button [disabled] = "!signupForm.form.valid" type = "submit" mat-raised-button color="primary">Signup</button>
        </div>
    </form>
    <p *ngIf = "isError">{{errorMessage}}</p>  
</mat-card>
